@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


@import "@fortawesome/fontawesome-free/css/all.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    main{
        @apply xl:w-11/12 md:w-full mx-auto;
    }
    header{
        @apply w-full relative z-40;
    }
    section{
        @apply w-full relative z-40;
    }

}
@layer components {
    .container {
        @apply w-full;
    }
    .items{
        @apply w-full flex space-x-3 px-3 items-center py-3;
    }
    .text-style{
        @apply capitalize text-white/55 font-bold;
    }
    
}

.forecast-wrapper::-webkit-scrollbar {
    height: 8px; /* Ensures horizontal scrollbar thickness */
}

.forecast-wrapper::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 30px; /* Rounded scrollbar track */
}

.forecast-wrapper::-webkit-scrollbar-thumb {
    background: #6b7280; /* Thumb color */
    border-radius: 30px; /* Rounded scrollbar thumb */
}